{#
/**
 * @file
 * Theme override for the responsive preview navigation.
 *
 * Available variables:
 * - items: A list of items to render. Each item contains:
 *   - attributes: HTML attributes for the item.
 *   - content: The rendered content of the item (e.g., Mobile, Desktop).
 * - attributes: HTML attributes for the main wrapper.
 *
 * @see template_preprocess_responsive_preview_navigation()
 */
#}

<div{{ attributes }}>
    {{items}}
</div>
